<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js" type="text/javascript"></script>

<body ng-app="myApp">

<!--<p><a href="#/">Main</a></p>-->
<h3>Below are two links which are ui routes and also controllers which pass data between the two controllers from input fields</h3>
<a href="#!dhaka">Dhaka</a>
<a href="#!chittagong">Chittagong</a>

<p>Click on the links.</p>

<!--view for ui route and route controllers to pass data-->
<div ng-view></div>

<!--view for filter-->
<div ng-controller="namesCtrl">

	<p>Filtering the names and ordering them by name</p>
	<ul>
	  <li ng-repeat="x in names | orderBy:'name'">
		{{ x.name + ', ' + x.id }}
	  </li>
	</ul>

</div>


<!--new directive to dependent on ng-model which restricts user input to numbers-->
<input-only-key-press></input-only-key-press>

<script>

var app = angular.module("myApp", ["ngRoute"]);
//routes
app.config(function($routeProvider) {
    $routeProvider
    /*.when("/", {
        templateUrl : "angularJS.htm"
    })*/
    .when("/dhaka", {
        templateUrl : "link1.htm",
        controller : "dhakaCtrl"
    })
    .when("/chittagong", {
        templateUrl : "link2.htm",
        controller : "chittagongCtrl"
    });
});
//service for the controllers to pass data
app.service('sharedProperties', function() {
    var firstname='ari';
	var birthplace='dha';
    
    return {
        getFirstName: function() {
			console.log(firstname);
            return firstname;
        },
		getBirthPlace: function() {
			console.log(birthplace);
            return birthplace;
        },
        setBirthPlace: function(value) {
            birthplace = value;
			console.log(birthplace);
        },
		setFirstName: function(value){
			firstname = value;
			console.log(firstname);
		},
		
        getObject: function() {
            return objectValue;
        }
    }
});

//contorllers that change routes and pass data between each other
app.controller("dhakaCtrl", function ($scope, sharedProperties) {
    $scope.msg = "I love Bangladesh";
	$scope.firstname = sharedProperties.getFirstName();
	$scope.setBirthPlace = function(newValue) {
        sharedProperties.setBirthPlace(newValue);
    };
	
});
app.controller("chittagongCtrl", function ($scope, sharedProperties) {
    $scope.msg = "I love Bangladesh";
	$scope.birthplace = sharedProperties.getBirthPlace();
	$scope.setFirstName = function(newValue) {
		console.log(newValue);
        sharedProperties.setFirstName(newValue);
    };
});
//controller which filter and order by name
app.controller("namesCtrl", function ($scope) {
	$scope.names = [{id: 3, name: "rahaman"},
					{id: 1, name: "bashar"},
					{id: 2, name: "anwar"}]; 
 
});

//new directive which restricts only number input from the user
app.directive("inputOnlyKeyPress", function() {
    return {
        template : "<label>Input Number: </label><input type=\"number\"  ng-model=\"myText\" name=\"inputName\">"
    };
});
</script>

</body>
</html>