<div class = "row">
	<h1>Dhaka</h1>
</div>
<div>	
	<h3>In Dhaka, Traffic is one of the major problem</h3>
</div>
<div >	
	<p>Traffic is a majon problem in Dhaka. We have to find a way to solve this Traffic Problem quickly</p>
	<p>{{msg}}</p>
	<p>Firstname: {{firstname}}</p>
</div>	
<div class = "row text-center form-group" ng-controller="dhakaCtrl">
	<form class="form-inline">
		<label for="birthplace">Change BirthPlace</label>
		<input id="birthplace" class="form-control" ng-model="newValue">
		<button class="btn btn-default" ng-click="setBirthPlace(newValue)">Set Values</button>
	</form>	
</div>
